Package: com.shepgoba.remove3doptions
Name: Remove3DOptions
Depends: mobilesubstrate, firmware (>= 13.2)
Architecture: iphoneos-arm
Description: Hide the delete option for apps on iOS 13.2
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 1.0
Installed-Size: 280
